body{
    padding: 5rem;
    background-color: #036243;
}

.title-img{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.row{
    display: flex;
    justify-content: center;
    padding: 3rem;;
    color: #fff;
}

.image{
    width: 10rem;
}

.text{
    font-weight: 500;
    font-family: "Antonio", sans-serif;
    color: #fff;
}

.form-floating>.form-control{
    padding: 0.25rem 5rem;
}
