{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'home/home-styles.css' %}">
{% endblock %}



{% block content %}
    {% include 'home/barra_de_navegacion.html' %}
    <div class="container-fluid">
        <div class="tenor-gif-embed" data-postid="19636713" data-share-method="host" data-aspect-ratio="1.07744" data-width="100%">
            <a href="https://tenor.com/view/workout-gym-funny-exercise-gif-19636713">Workout Gym GIF</a> from <a href="https://tenor.com/search/workout-gifs">Workout GIFs</a>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
{% endblock %}



