.barra{
    background-color: red;
    margin: 3rem;
    padding: 0;
    list-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    
    
}





.barra li{
    display: inline;
    margin: 0px 30px;
    background-image: linear-gradient(to right, #00ff00, #00cc00); /* Gradient verde */
    color: transparent; /* Hace que el texto sea transparente */
    background-clip: text; /* Aplica el gradiente al texto */
    
}