html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-body-color: #fff
}

body {
    
    /* background: #FF0099;  
    background: linear-gradient(to bottom, #493240, #FF0099); */
     /* background: #FFE000;  0575E6
    background: linear-gradient(to right, #799F0C, #FFE000);  */
    background: #00F260;  /* fallback for old browsers */

background: linear-gradient(to right, #00F260, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.row{
    --bs-border-style: none;    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    border-radius: 10px;
}

.polete{
    display: flex;
    margin-top: 30px;
}




.col-md-6 img {
    border-radius: 2rem;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: 100%; /* Asegura que la imagen ocupe todo el alto disponible */
}


/* per si vull el padding amb el fondo blanc */

/* .p-1 {
    padding: 1.5rem !important;
} */


.btn-primary-login {
    margin: auto;
    display: inline-block;
    font-weight: 500;
    width: 10rem;
    --bs-btn-color: rgb(255, 255, 255);
    --bs-btn-bg: #43434300;
    /* CCCCCC 007bff */
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2f2f2f;
}

.btn-primary-signup {
    margin: auto; 
    display: inline-block;
    font-weight: 500;
    width: 10rem;
    --bs-btn-color: rgb(255, 255, 255);
    --bs-btn-bg: #43434300;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2f2f2f;
}