<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <div> 
        <img src="assets/10962077.png">
        <ul class="barra">
            <li>Home</li>
            <li>Recipes</li>
            <li>Calendar</li>
            <li>About us</li>
        </ul>
    </div>
</body>
</html>
