<!DOCTYPE html>
<html lang="es" vocab="https://schema.org/">
{% extends 'base.html' %}
{% load static %}
{% block footer %}
    <body style="background-image: url('{% static 'assets/alimentos.jpg' %}'); background-size: cover;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Calendario</div>
                    <div class="card-body" property="Calendar" typeof="Date">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <a href="?date={{ previous_date|date:'Y-m-d' }}" class="btn btn-primary"
                               style="background-color: #036243;">&lt; Anterior</a>
                            <h2 style="text-decoration: underline; font-weight: bold;"
                                property="CurrentMealsDate" content="07/06/2024">{{ current_date }}</h2>
                            <a href="?date={{ next_date|date:'Y-m-d' }}" class="btn btn-primary"
                               style="background-color: #036243;">Siguiente &gt;</a>
                        </div>

                        <h3 class="mb-3">Platos o alimentos del el día {{ current_date }}</h3>
                        <ul class="list-group" typeof="Recipe">
                            <div typeof="MenuItem">
                                <small property="name"
                                       content="Pollo a la plancha"></small>
                                <small property="meal" class="text-muted"
                                       content="Cena"></small>
                                <small property="grams" class="text-muted"
                                       content="100g"></small>
                                <span property="calories" content="152 kcal"></span>
                                <span property="carbohydrateContent" content="0g"></span>
                                <span property="fatContent" content="1g"></span>
                                <span property="proteinContent" content="7.2g"></span>
                            </div>
                            <div typeof="MenuItem">
                                <small property="name" content="Ensalada de atún">Ensalada
                                    de atún</small>
                                <small property="meal" class="text-muted"
                                       content="Almuerzo">Almuerzo</small>
                                <small property="grams" class="text-muted" content="200g">200g</small>
                                <span property="calories" content="250 kcal">Calorías: 250 kcal</span>
                                <span property="carbohydrateContent" content="10g">Carbohidratos: 10g</span>
                                <span property="fatContent" content="15g">Grasas: 15g</span>
                                <span property="proteinContent" content="20g">Proteínas: 20g</span>
                            </div>
                            <div typeof="MenuItem">
                                <small property="name" content="Batido de proteínas">Batido
                                    de proteínas</small>
                                <small property="meal" class="text-muted" content="Desayuno">Desayuno</small>
                                <small property="grams" class="text-muted" content="300g">300g</small>
                                <span property="calories" content="220 kcal">Calorías: 220 kcal</span>
                                <span property="carbohydrateContent" content="20g">Carbohidratos: 20g</span>
                                <span property="fatContent" content="2g">Grasas: 2g</span>
                                <span property="proteinContent" content="30g">Proteínas: 30g</span>
                            </div>
                            <div typeof="MenuItem">
                                <small property="name" content="Fruta mixta">Fruta
                                    mixta</small>
                                <small property="meal" class="text-muted" content="Merienda">Merienda</small> <small
                                    property="grams" class="text-muted"
                                    content="150g">150g</small>
                                <span property="calories" content="80 kcal">Calorías: 80 kcal</span>
                                <span property="carbohydrateContent" content="20g">Carbohidratos: 20g</span>
                                <span property="fatContent"
                                      content="0.5g">Grasas: 0.5g</span>
                                <span property="proteinContent" content="1g">Proteínas: 1g</span>
                            </div>
                        </ul>

                        <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addPlatoModal"
                                style="background-color: #036243;">Añadir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <!-- Modal para agregar plato -->
    <div class="modal fade" id="addPlatoModal" tabindex="-1" aria-labelledby="addPlatoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPlatoModalLabel">Añadir Plato</h5>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'seleccionar_dia' %}?date={{ current_date }}">
                        {% csrf_token %}
                        {{ add_form.as_p }}
                        <button type="submit" class="btn btn-success mt-3">Añadir plato</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal .btn-close, .modal .btn-secondary').on('click', function () {
                $(this).closest('.modal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });
        });
    </script>

    <div class="modal fade" id="deletePlatoModal" tabindex="-1" aria-labelledby="deletePlatoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePlatoModalLabel">Confirmar eliminación de plato</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="deletePlatoMessage"></p>
                    <form id="deletePlatoForm" method="post"
                          action="{% url 'seleccionar_dia' %}?date={{ current_date }}">
                        {% csrf_token %}
                        <input type="hidden" id="deletePlatoId" name="plato_id" required>
                        <button type="submit" class="btn btn-danger" name="delete">Confirmar eliminación</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para modificar plato -->
    <div class="modal fade" id="modifyPlatoModal" tabindex="-1" aria-labelledby="modifyPlatoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyPlatoModalLabel">Modificar Plato</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modifyPlatoForm" method="post"
                          action="{% url 'seleccionar_dia' %}?date={{ current_date }}">
                        {% csrf_token %}
                        <input type="hidden" id="modifyPlatoId" name="plato_id" required>
                        {{ modify_form.as_p }}
                        <button type="submit" class="btn btn-success mt-3" name="modify">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deletePlatoModal = document.getElementById('deletePlatoModal');
            deletePlatoModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var platoId = button.getAttribute('data-plato-id');
                var platoName = button.getAttribute('data-plato-name');
                var deletePlatoId = document.getElementById('deletePlatoId');
                var deletePlatoMessage = document.getElementById('deletePlatoMessage');
                deletePlatoId.value = platoId;
                deletePlatoMessage.textContent = '¿Estás seguro que deseas eliminar el plato "' + platoName + '"?';
            });

            var modifyPlatoModal = document.getElementById('modifyPlatoModal');
            modifyPlatoModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var platoId = button.getAttribute('data-plato-id');
                var modifyPlatoId = document.getElementById('modifyPlatoId');
                modifyPlatoId.value = platoId;
            });
        });
    </script>


    <!-- Modal para mostrar los resultados de las macros -->
    <div class="modal fade" id="macrosModal" tabindex="-1" aria-labelledby="macrosModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="macrosModalLabel">Macros</h5>
                    <button type="button" class="btn-close" aria-label="Close" onclick="cerrarModalMacros()"></button>
                </div>
                <div class="modal-body" id="macrosContent">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deletePlatoModal = document.getElementById('deletePlatoModal');
            deletePlatoModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var platoId = button.getAttribute('data-plato-id');
                var platoName = button.getAttribute('data-plato-name');
                var deletePlatoId = document.getElementById('deletePlatoId');
                var deletePlatoMessage = document.getElementById('deletePlatoMessage');
                deletePlatoId.value = platoId;
                deletePlatoMessage.textContent = '¿Estás seguro que deseas eliminar el plato "' + platoName + '"?';
            });

            var modifyPlatoModal = document.getElementById('modifyPlatoModal');
            modifyPlatoModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var platoId = button.getAttribute('data-plato-id');
                var modifyPlatoId = document.getElementById('modifyPlatoId');
                modifyPlatoId.value = platoId;
            });
        });
    </script>

    <script>
        function getMacros(nombre_alimento, gramos) {
            const url = "https://api.edamam.com/api/food-database/parser";
            const app_id = "ca747d07";
            const app_key = "722fabaee32b8118f7b1cb2e32b137cf";
            const params = {
                "app_id": app_id,
                "app_key": app_key,
                "ingr": nombre_alimento
            };

            // Realizar la solicitud a la API de Edamam
            fetch(url + "?" + new URLSearchParams(params))
                .then(response => {
                    if (!response.ok) {
                        throw new Error('No se pudo completar la solicitud');
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data.hints || data.hints.length === 0) {

                        document.getElementById('macrosContent').innerHTML = "<p>Alimento no registrado.</p>";
                    } else {
                        const nutrients = data.hints[0].food.nutrients;

                        // Calcular los valores nutricionales según los gramos especificados
                        const factor = gramos / 100;
                        const energy = nutrients.ENERC_KCAL ? nutrients.ENERC_KCAL * factor : 0;
                        const carbs = nutrients.CHOCDF ? nutrients.CHOCDF * factor : 0;
                        const protein = nutrients.PROCNT ? nutrients.PROCNT * factor : 0;
                        const fat = nutrients.FAT ? nutrients.FAT * factor : 0;


                        const macrosContent = `
                            <div typeof="NutritionInformation">
                                <p property="calories">Calorías: ${energy.toFixed(2)} kcal</p>
                                <p property="carbohydrateContent">Carbohidratos: ${carbs.toFixed(2)} g</p>
                                <p property="fatContent">Grasas: ${fat.toFixed(2)} g</p>
                                <p property="proteinContent">Proteínas: ${protein.toFixed(2)} g</p>
                            </div>
                        `;

                        document.getElementById('macrosContent').innerHTML = macrosContent;
                    }


                    const macrosModal = new bootstrap.Modal(document.getElementById('macrosModal'));
                    macrosModal.show();
                })
                .catch(error => console.error('Error al obtener los datos:', error));
        }
    </script>

{% endblock %}