<!DOCTYPE html>
<html lang="es" vocab="https://schema.org/">
{% extends 'base.html' %}
{% load static %}
{% block footer %}
    <body style="background-image: url('{% static 'assets/alimentos.jpg' %}'); background-size: cover;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Calendario</div>
                    <div class="card-body" property="Calendar" typeof="Date">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <a href="?date={{ previous_date|date:'Y-m-d' }}" class="btn btn-primary"
                               style="background-color: #036243;">&lt; Anterior</a>
                            <h2 style="text-decoration: underline; font-weight: bold;"
                                property="CurrentMealsDate" content="07/06/2024">{{ current_date }}</h2>
                            <a href="?date={{ next_date|date:'Y-m-d' }}" class="btn btn-primary"
                               style="background-color: #036243;">Siguiente &gt;</a>
                        </div>

                        <h3 class="mb-3">Platos o alimentos del el día {{ current_date }}</h3>
                        <ul class="list-group">
                            <div typeof="Recipe">
                                <span property="name" content="Pollo a la plancha"></span>
                                <img property="image" src="https://via.placeholder.com/150" alt="Pollo a la plancha">
                                <span property="meal" class="text-muted" content="Cena"></span>
                                <span property="grams" class="text-muted" content="100g"></span>
                                <span property="calories" content="152 kcal"></span>
                                <span property="carbohydrateContent" content="0g"></span>
                                <span property="fatContent" content="1g"></span>
                                <span property="proteinContent" content="7.2g"></span>
                            </div>
                            <div typeof="Recipe">
                                <span property="name" content="Ensalada de atún">Ensalada de atún</span>
                                <img property="image" src="https://via.placeholder.com/150" alt="Ensalada de atún">
                                <span property="meal" class="text-muted" content="Almuerzo">Almuerzo</span>
                                <span property="grams" class="text-muted" content="200g">200g</span>
                                <span property="calories" content="250 kcal">Calorías: 250 kcal</span>
                                <span property="carbohydrateContent" content="10g">Carbohidratos: 10g</span>
                                <span property="fatContent" content="15g">Grasas: 15g</span>
                                <span property="proteinContent" content="20g">Proteínas: 20g</span>
                            </div>
                            <div typeof="Recipe">
                                <span property="name" content="Batido de proteínas">Batido de proteínas</span>
                                <img property="image" src="https://via.placeholder.com/150" alt="Batido de proteínas">
                                <span property="meal" class="text-muted" content="Desayuno">Desayuno</span>
                                <span property="grams" class="text-muted" content="300g">300g</span>
                                <span property="calories" content="220 kcal">Calorías: 220 kcal"></span>
                                <span property="carbohydrateContent" content="20g">Carbohidratos: 20g</span>
                                <span property="fatContent" content="2g">Grasas: 2g</span>
                                <span property="proteinContent" content="30g">Proteínas: 30g</span>
                            </div>
                            <div typeof="Recipe">
                                <span property="name" content="Fruta mixta">Fruta mixta</span>
                                <img property="image" src="https://via.placeholder.com/150" alt="Fruta mixta">
                                <span property="meal" class="text-muted" content="Merienda">Merienda</span>
                                <span property="grams" class="text-muted" content="150g">150g</span>
                                <span property="calories" content="80 kcal">Calorías: 80 kcal</span>
                                <span property="carbohydrateContent" content="20g">Carbohidratos: 20g</span>
                                <span property="fatContent" content="0.5g">Grasas: 0.5g</span>
                                <span property="proteinContent" content="1g">Proteínas: 1g</span>
                            </div>
                        </ul>

                        <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addPlatoModal"
                                style="background-color: #036243;">Añadir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
