.nav-pills{
    padding: 2rem;;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.nav-pills img {
    width: 40px;
    
}

.nav-link, .nav-pills.active{
    color: #036243;
    --bs-nav-pills-link-active-bg: #036243;
}

.pestanyes li{
    display: inline-flex;
}

.supersuperfuturistic-button .btn-futuristic {
    position: relative;
    background: linear-gradient(to right, #004e64, #036243);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.4s ease;
}

.supersuperfuturistic-button:hover .btn-futuristic {
    transform: rotateY(180deg);
}

.supersuperfuturistic-button .text-slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #004e64, #036243);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}





